.hero-title {
    text-transform: uppercase;
	background: linear-gradient(to right, #facc15 10%, #fb923c 30%, #f87171 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 10rem;
}
