:root {
    --color-bg-primary: #eeeeee;

    --color-bg-mysticWhite: #e4ebee;
    --color-fnt-hero-fiord: #3C5562;

    --color-bg-card-white: #ffffff;
    --color-fnt-card-title-black: #000000;
    --color-fnt-card-fiord: #3C5562;
}


